html {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #4a4a4a;
	background-color: #f3f5f5;
}

img {
	width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 900;
	margin-bottom: 2rem;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2.5rem;
}

h3 {
	font-size: 2rem;
}

p,
a {
	font-size: 1.5rem;
	line-height: 2rem;
}

a {
	color: #4285f4;
}

.text-center {
	text-align: center;
}

/* header */

header {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	padding: 1rem 3rem;
	position: sticky;
	top: 0;
	z-index: 10;
	background-color: white;
}

.logo {
	height: 32px;
}

.logo img {
	width: auto;
}

.logo > * {
	display: inline-block;
	vertical-align: middle;
}

.logo p {
	font-weight: 900;
	text-transform: uppercase;
	font-size: 1.5rem;
}

.logo p span {
	font-weight: 400;
	color: #9b9b9b;
}

nav {
	text-align: right;
	font-size: 1.25rem;
}

nav ul li {
	display: inline-block;
	margin-right: 2rem;
}

nav ul li:last-child {
	margin-right: 0;
}

/* banner */

#banner {
	display: grid;
	grid-template-columns: 7fr 5fr;
	background-color: #d8d8d8;
	padding: 3rem;
	align-items: center;
}

#banner .left {
	background-image: url('../img/banner.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 40rem;
	margin-right: 5rem;
}

#banner .right p {
	margin-bottom: 2rem;
}

#banner .right button {
	cursor: pointer;
	width: 100%;
	background-color: #4a4a4a;
	border: none;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.5rem;
	padding: 1rem;
}

/* information */

#information {
	display: grid;
	grid-template-columns: 7fr 5fr;
}

#information .left {
	padding: 3rem;
	border-right: 1px solid #d8d8d8;
}

#information .left img {
	margin-bottom: 3rem;
}

#information p.byline {
	margin-top: 2rem;
	font-size: 1.2rem;
}

#information .info-block {
	display: grid;
	grid-template-columns: 1fr 2fr;
	padding: 3rem;
	border-bottom: 1px solid #d8d8d8;
}

#information .info-block:last-child {
	border-bottom: none;
}

#information .info-block:hover,
#information .info-block:focus {
	background-color: #d8d8d8;
	transition: all ease-in-out 0.2s;
}

#information .info-block .info {
	padding-left: 2rem;
	align-self: center;
}

#information .info-block .info h2 {
	margin-bottom: 1rem;
}

#information .info-block .info p {
	margin-bottom: 2rem;
}

/* courses */

#courses {
	background-color: #eaebec;
	padding: 3rem 10rem;
}

#courses .course-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 3rem;
	margin-top: 3rem;
}

#courses .course-grid .course-block {
	background-color: white;
}

#courses .course-grid .course-block .info {
	padding: 3rem;
}

#courses .course-grid .course-block .info h3 {
	margin-bottom: 1.2rem;
}

#courses .course-grid .course-block .info p.tag {
	text-transform: uppercase;
	margin-bottom: 1.2rem;
}

/* thesis */

#thesis {
}
